.bg1 .bg2 .bg3{
    height: 200px;
    width:200px;
}
.container
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px; 
}
.container > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
}
body
{
    background-color: rgb(75, 128, 59);
}
.container > div:hover{
   opacity: 0.8;
   transform: scale(0.98);
}
.header{
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}